{% extends 'application_mask/base_layout.html' %} {% block main_content %}
<v-row
  justify="center"
  align="center"
  style="background-color: #00618f; color: white"
  class="ma-0 pl-3"
>
  <v-col cols="6" align="left">
    <h2>Ausbildung an der Goethe-Universität</h2>
  </v-col>
  <v-col cols="6" align="right">
    <v-img
      src="../../../static/img/GU-Logo-weiss.png"
      aspect-ratio="16/9"
      width="150"
    >
    </v-img>
  </v-col>
</v-row>
<v-container>
  <v-row>
    <h3 class="pa-2 mt-2 ml-2">Herzlich willkommen zu Deiner Zukunft!</h3>
  </v-row>
  <v-row>
    <p class="px-2 ml-2">
      Bewirb Dich einfach und digital für eine Ausbildung oder ein Duales
      Studium
    </p>
    <v-col cols="12">
      <application-card :year="{{ year }}"></application-card>
        <registration-disabled-dialog :boolean-integer="{{ registration_disabled }}"></registration-disabled-dialog>
    </v-col>
  </v-row>
</v-container>

{% endblock %}
<script>
  import ApplicationCard from "../../resources/js/components/ApplicationCard";
  import RegistrationDisabledDialog from "../../resources/js/components/RegistrationDisabledDialog";
  export default {
    components: {RegistrationDisabledDialog, ApplicationCard },
  };
</script>
